- title.set("Stats")

h1 Stats
table
  thead
    th Kana
    th Correct
    th Wrong
    th Skip
    th Correct %
  tbody
    - each stat in stats
      tr
        td #{ stat.kana }
        td #{ stat.correct }
        td #{ stat.wrong }
        td #{ stat.skip }
        td #{ stat.percentCorrect.toFixed(0) }
- if (stats.length == 0)
  p No stats
